                <form action="/remove/{{ product.id }}" method="POST">
                    <button>
                        <img alt="Verwijder van lijst" src="assets/cadeauLijst.svg" />
                    </button>
                </form>
