:root {
    /* Hoofdkleuren */
  --primary: #AA2677;
  --primary-hover: #931f67;

/* Achtergrond kleur */
  --background: #F2F2F2;
  --card-background: #FFFFFF;

  /* Tekst */
  --text-primary: #2D2D2D;
  --text: #222222;

    /* Accentkleuren */
  --accent: #20A687;
  --accent-hover: #1b8d73;

  /* Statuskleuren */
  --success: #22C55E;
  --warning: #F59E0B;
  --error: #EF4444;
  --info: #3B82F6;

    /* Borders */
  --border: #D9D9D9;
  --border-light: #EAEAEA;
  --border-dark: #B0B0B0;

    /* Schaduwen */
  --shadow-light: rgba(0, 0, 0, 0.05);
  --shadow-medium: rgba(0, 0, 0, 0.1);
  --shadow-dark: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #f5a7d7;
    --background: #222222;
    --card-background: #898A8D;
    --text-primary: #FFFFFF;
    --text: #FFFFFF;
  }
}

*{
    box-sizing: border-box;
} 
body{
    margin: 25px;
    background-color: var(--card-background);
}


@font-face {
    font-family: Parkinsans;
    src: url('/fonts/Parkinsans-VariableFont_wght.ttf') format('truetype');
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img:first-child {
    margin-right: auto;
}
main{
    margin-top: 7em;
}
.logo{
    width: 40px;
}
.list-logo{
    border: 0.3px solid var(--border);
    border-radius: 100px;
    box-shadow: 1px 1px 10px 1px var(--shadow-dark);
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.list-line{
    width: 26px;
    margin-top: 5px;
}
.login-logo{

    justify-self: center;
    width: 50px;
}
.divider{
    margin: 10px;
    height: 2px;
    background: var(--primary);
}
.grey-background{
    width: auto;
    height: 300px;
    border-radius: 10px;
    background-color: var(--background);
}

h1{
    font-family: Parkinsans;
    font-weight: 300;
    font-size: 26px;
    position: absolute;
    padding: 20px;
    inset-block-start: 6em;

    color: var(--text-primary);

}

h2{
    color: var(--text-primary);
}
span{
    font-family: Parkinsans;
    font-size: 30px;
    color: var(--primary);

}

.filter{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    left: 85%;

    @media (width:768px) {
        left: 90%;
    }
}
/* .back-btn{

} */

.oepss-icon{
    position: relative;
    top: 20px;
    
}

/* card */
.card-container{
    display: grid;
    gap: 20px;

    @media (min-width: 510px) {
            grid-template-columns: repeat(2, 1fr); 
            gap: 20px;
        }

    @media (min-width: 890px) {
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;
    }
}
.card{
    display: grid;
    position: relative;
    margin: 1em;
    padding: 1rem;
    border: 3px solid var(--primary);
    border-radius: 7px;

}
button{
    background: none;
    border: none;
    position: relative;
    left: 14em;
    bottom: 10px;
}
.card-line{
    position: relative;
    top: 25px;
    height: 2px;
    background: var(--background);
    border: 3px;
}

.cadeau-bow{
    justify-self: center;
    position: relative;
    top: -3.8em;

}
.cadeau-list{
    width: 50px;
}
.find-gift{
    width: fit-content;
    padding: 5px 5px 5px 5px;
    text-align: center;
    border: 1px solid var(--primary);
    border-radius: 10px;
}
.product-image{
    display: block;
    max-inline-size: 100%;
   
}
.product-name{
    font-family: Parkinsans;
    font-size: 20px;
    margin-top: 30px;
} 
.wishlist-products{
    margin-top: 40px;
    text-align: center;
}
